#topsection {
  font-family: "San Francisco", Arial, sans-serif;
  font-weight: bold;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
  width: 100vw;
  background-color: whitesmoke;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  order: 1;
}

nav li {
  margin-right: 15px;
}

nav a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

nav a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 30px;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
  order: 2;
}

#contact a {
  font-size: 1.3em;
  color: #181818;
  padding-bottom: 3px;
  text-decoration: none;
}

#contact a:hover {
  color: #760001;
  border-bottom: 3px solid #760001;
}

header {
  width: 100vw;
}

#HI h1 {
  transition: transform 2s;
}

#HI h1:hover {
  transform: scale(1.1);
}

.see_desc {
  display: flex;
  padding-bottom: 22px;
}

header img {
  display: flex;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
}

section img {
  max-height: 100px;
  justify-items: center;
  margin: 35px;
  height: auto;
  transition: transform 0.3s;
}

section img:hover {
  transform: scale(1.2);
}

.figure {
  display: flex;
  height: auto;
  max-width: 50vw;
}

footer {
  margin: 20px;
  padding-bottom: 20px;
  text-align: right;
  max-width: 100vw;
  scroll-snap-align: start;
}
