@media screen and (max-width: 1024px) {
  #full_page {
    max-width: 100vw;
    margin: 0;
  }

  #topsection {
    width: 100vw;
    font-size: 0.8em;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  #HI .column1 {
    height: 50vh;
  }

  #contact {
    display: none;
  }

  nav ul {
    justify-content: space-around;
    padding-right: 15px;
  }

  img {
    max-width: 30%;
    margin: 0;
    justify-content: center;
  }

  body p {
    font-size: 1em;
    max-width: 100vw;
    justify-content: center;
  }

  body h1 {
    font-size: 2em;
  }

  .column {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }

  .column1 {
    width: 100vw;
    height: 50vh;
  }

  .column2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100vw;
    height: 50vh;
  }
}

@media screen and (orientation: landscape) and (max-width: 1024px) {
  .column {
    flex: 1;
    padding-top: 20px;
  }

  header img {
    margin-top: 100px;
  }

  #topsection {
    flex-direction: column;
  }
}
